@use "bases";

.comment-list {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  align-items: center;
  gap: 20;
  max-height: 400;

  li {
    list-style: none;
  }
}
