@use "variables" as vars;

.navbar-main {
  background-color: var(--nav-bg-color);
  color: var(--nav-text-color);
  position: fixed;
  display: flex;
  inset: 0 auto auto 0;
  width: 100%;
  height: vars.$navbar-height;
  padding: 8px;

  .navbar-left {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 18;
    padding-left: 10;

    p {
      margin: 0;
      color: white;
    }
  }

  .navbar-right {
    margin-left: auto;
    padding-right: 10;
  }

  .theme-toggler {
    width: 40;
    height: 40;
    svg {
      width: 100%;
      height: 100%;
      fill: var(--nav-theme-toggle-icon-fill);
    }
  }
}
